.story-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .text-section {
    margin: 10px 0px;
  }
}

.image-single-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0px;

  p {
    font-size: 1.25rem;
    text-align: center;
    width: 400px;

    @include respond(phone) {
      width: 300px;
    }
  }

  img {
    border-radius: 10px;
  }

  .img-large-container {
    width: 400px;
  
    @include respond(phone) {
      width: 300px;
    }
  }

  .img-mid-container {
    width: 300px;
  
    @include respond(phone) {
      width: 200px;
    }
  }
}

.image-double-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 25px 0px;

  p {
    width: 200px;
    font-size: 1.25rem;
    text-align: center;

    @include respond(phone) {
      width: 150px;
    }
  }

  img {
    border-radius: 10px;
  }

  .img-container {
    width: 200px;

    @include respond(phone) {
      width: 150px;
    }
  }

  .image-double-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px;
    position: relative;
  }
  
  .image-double-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px;
  }
}

.newspaper-instructions {
  position: absolute;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  height: 50px;
  width: 250px;
  top: -40px;
  z-index: 1;

  @include respond(phone) {
    left: -100px;
  }

  h5 {
    align-self: flex-end;
    margin-bottom: 25px;
  }

  .arrow {
    height: 40px;
    width: 40px;
    align-self: flex-end;

    @include respond(phone) {
      transform: rotate(-15deg);
    }
  }
}
