#dad {
  padding: 15rem 0 10rem 0;
  height: 100vh;
  margin-bottom: -1px;
  text-align: center;

  @include respond(tab-land) {
    padding: 10rem 0;
    margin-top: 0;
  }

  p {
    font-size: $default-font-size;
    backface-visibility: hidden;
  }
}
