#story {
  padding: 10vh 0 10vh 0;
  height: 120vh;
  margin-top: -15rem;
  margin-bottom: -1px;
  text-align: center;
    backface-visibility: hidden;

  @include respond(tab-land) {
    padding: 10rem 0;
    margin-top: 0;
  }

  .story-card-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
  }

  .story-card {
    width: 30rem;
    margin: 0rem 1rem;
    padding: 0;
    outline: none;
    opacity: .5;

    @include respond(tab-land) {
      width: 20rem;
    }

    @include respond(tab-port) {
      width: 15rem;
    }
  }
  .story-card:hover {
    opacity: 1 !important;
  }
}

#disclaimer-container {
  margin: 15px 0px;

  p {
    font-size: 1.15em !important;
  }
}