#title {
  padding: 0rem;
  height: 100vh;

  .content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .header {
    background-color: $white-color;
    color: $dark-grey;
    display: relative;
    margin-bottom: auto;
    margin-top: 10px;
  
    @include respond(phone) {
      border: 0px;
    }
  
    &__text {
      color: darken(white, 50%);
      font-size: 1.3rem;
  
      a {
        color: darken(white, 50%);
        font-size: 1.3rem;
        transition: all 0.4s;
        display: inline-block;
        background-color: $dark-grey;
  
        &:hover,
        &:active {
          color: $primary-color;
          -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        }
      }
    }
  
    & hr {
      margin-top: 32.5px;
      border: 0;
      width: 15%;
      border-top: 1px solid rgba(0, 0, 0, .2);
    }

    #logo-container {
      width: 39px;
      height: 65px;
    }
  }

  .title-container {
    padding: 40px 10px 10px 10px;
    margin-bottom: auto;
  }

  h1 {
    font-size: $very-big-font-size;
    font-weight: 700;
  }
  
  .image-container {
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond(phone) {
      margin-bottom: 70px;
    }

    p {
      width: 600px;
      font-size: 1.25rem;
      text-align: end;

      @include respond(phone) {
        width: 325px;
      }
    }

    #title-picture {
      width: 600px;
  
      @include respond(phone) {
        width: 325px;
      }
    }
  }

  .definition-container {

    .definition {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
    }

    p {
      margin: 0;
    }

    .audio-button {
      background-color: white;
      border: none;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .audio-button:focus {
      outline: none;
      box-shadow: none;
    }

    .sound-icon {
      height: 15px;
      width: 15px;
    }
  }
}
