.header {
  background-color: $white-color;
  color: $dark-grey;
  display: relative;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken(white, 50%);
    font-size: 1.3rem;

    a {
      color: darken(white, 50%);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: $dark-grey;

      &:hover,
      &:active {
        color: $primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin-top: 32.5px;
    border: 0;
    width: 15%;
    border-top: 2px solid rgba(0, 0, 0, .3);
  }
}

