html {
    font-size: 62.5%;
  }

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: $white-color;
}
  
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
